@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT32&display=swap');

/* Body */ 
body {
  background: #f2f2f2;
  color: #444;
  margin: 0;
}
body * {
  font-family: "Poppins";
}

/* header */
header {
  text-align: center;
  background: #e7e7e7;
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin:0;
  font-size: 2em;
  padding-top: 25px;
  margin-left: 15px;
  color: #777;
}

/* navbar styling */
.navbar {
  overflow: hidden;
  background-color: #706b6b;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  cursor: pointer;
}

.navbar a {
  float: left;
  text-align: center;
  background-color: #706b6b;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #0c0c0c
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.host-list {
  max-width: 400px;
  margin: 50px;
}

.host {
  padding: 6px 20px;
  background: #fff;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0,0,0,.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* put text/ icons in a line */
.host h3, .host .icons {
  display: inline-block;
}
.host .icons {
  text-align: right;
}

.host i {
  font-size: 1.4em;
  margin-left: 6px;
  cursor: pointer;
  color: #bbb;
}

.new-form {
  display: flex;
}

form {
  max-width: 400px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

form button {
  background: #ffd859;
  border: 0;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
}
form input {
  border: 0;
  padding: 10px;
  border-radius: 6px;
  color: #555;
  font-size: 1em;
}
