@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT32&display=swap');

/* Body */ 
body {
  background: #f2f2f2;
  color: #444;
  margin: 0;
}
body * {
  font-family: "Poppins";
}

/* header */
header {
  text-align: center;
  background: #e7e7e7;
  padding-top: 25px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h2 {
  margin:0;
  font-size: 2em;
  padding-top: 25px;
  color: #777;
}

/* navbar styling */
.navbar {
  overflow: hidden;
  background-color: #706b6b;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  cursor: pointer;
}

.navbar a {
  float: left;
  text-align: center;
  background-color: #706b6b;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #e7e7e7
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.host {
  width: 400px;
  padding: 6px 20px;
  background: #fff;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0,0,0,.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: center;
}

.my_host p, .my_host .icons {
  display: inline-block;
}

.my_host .icons {
  text-align: right;
}

.my_host i.active {
  color: #04AA6D;
}

/* put text icons in a line */
.host h3, .host .icons {
  display: inline-block;
}
.host .icons {
  text-align: right;
}

.host i {
  font-size: 1.4em;
  margin-left: 6px;
  cursor: pointer;
  color: #bbb;
}

.host i.active {
  color: #04AA6D;
}

.new-form {
  display: flex;
}

.add_to_col {
  display: flex;
  flex-direction: column;
}

.loading {
  max-width: 640px;
  border: 1px solid #ffd859;
  background: #ffe9a0;
  color: #3a3a3a;
  padding: 5px 0;
  text-align: center;
  margin: 30px auto;
}


